.Navbar {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
     position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.logo {
    width: 150px;
}

.nav-menu {
    display: flex;
    gap: 25px;
    list-style: none;
    font-size: 18px;
    color: #49557e;
}

.nav-menu li {
    cursor: pointer;
}

.nav-menu hr {
    height: 3px;
    background: #49557e;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.Navbar button {
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid #49557e;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.Navbar button:hover {
    background-color: #fff4f2;
}

.active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

.navbar-search-icon {
    position: relative;
}

.dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}
.navbar-profile{
    position: relative;
}

.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid tomato;
    list-style: none;
}

.nav-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.nav-profile-dropdown img{
    width: 20px;
}

.nav-profile-dropdown div{
    display: flex;
    gap: 10px;
}

.navbar-right p{
    cursor: pointer;
}

.nav-profile-dropdown p:hover{
    color: tomato;
}
@media(max-width:1150px){
    .Navbar .logo{
        width: 140px;
    }
    .nav-menu{
        gap: 20px;
        font-size: 17px;

    }
    .navbar-right{
        gap: 30px;

    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}

@media(max-width:900px){
    .Navbar .logo{
        width: 120px;
    
    }
    .nav-menu{
        gap: 15px;
        font-size: 16px;

    }
    .navbar-right{
        gap: 20px;

    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
 
}
.nav-dropdown{
    display: none;
}
@media(max-width:700px){
    
  .nav-menu{
    display: none;
  }
  .nav-dropdown{
    display: flex;
    width: 40px;
}
.nav-menu-visible {
    display: flex;
    margin-top: 8px;
}
.nav-menu {
    width: 100%;
    height: 25px;
    position: absolute;
    background-color: #fff;
    top: 60px;
    margin-left: -30px;
    padding-left: 55px;
}
   
}


@media(max-width:450px){
    .Navbar .logo{
        width: 100px;
    }
    
    .Navbar{
        padding: 20px 30px;
    }
    .nav-menu{
        gap: 15px;
        font-size: 12px;

    }
    .navbar-right{
        gap: 20px;

    }
    .nav-dropdown{
        width: 30px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 8px 12px;
       font-size: 13px;
    }
    .nav-menu-visible {
        display: flex;
        margin-top: 8px;
    }
    .nav-menu {
        width: 100%;
        height: 20px;
        position: absolute;
        background-color: #fff;
        top: 60px;
        margin-left: -30px;
        padding-left: 55px;
    }
}

